@import "./fonts.scss";
@import "./constants.scss";
@import "./mixins.scss";


body {
	font-family: $primaryFontRegular;
}

main {
	background-color: $backgroundSecondaryColor;
}

.container {
	padding-left: 5rem;
	padding-right: 5rem;
}

.button {
	@include fluid-text(22, 16);
	line-height: 1.2em;
	border-radius: 100px;
	padding: 0.875rem 2.5rem;
	transition: .3s;
	font-family: $primaryFontExtraBold;
	white-space: nowrap;
	&:hover {
		opacity: 0.6;
		cursor: pointer;
	}
	&--transparent {
		color: $secondaryColor;
		background-color: transparent;
		border: 2px solid $secondaryColor;
	}
	&--filled {
		color: $black;
		background-color: $secondaryColor;
		border: 0;
	}
}

.nav {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: $backgroundPrimaryColor;
	&__logo {
		display: flex;
	}
	&__menu {
		display: flex;
		&-list {
			display: flex;
			margin: 0;
			padding: 0;
		}
		&-item {
			list-style-type: none;
		}
		&-link {
			font-family: $primaryFontExtraBold;
			color: $textPrimaryColor;
			@include fluid-text(18, 16);
			line-height: 1.2em;
			margin-right: 3.125rem;
			text-decoration: none;
			transition: .3s;
			cursor: pointer;
			&:hover {
				background: -webkit-linear-gradient(right, $primaryColor, $secondaryColor);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
		&-mobile {
			transform: translateY(-100%);
			transition: transform 0.2s ease;
			&--active {
				display: flex;
			}
		}
		.shape-icon {
			defs {
				display: none;
				stop {
					&:first-child {
						stop-color: $secondaryColor;
					}
					&:last-child {
						stop-color: $primaryColor;
					}
				}
			}
			&:hover {
				cursor: pointer;
				defs {
					display: block;
				}
				path {
					fill: url(#gradient);
				}
			}
		}
	}
	&__close-link {
		display: none;
	}
	&__mobile-menu {
		display: none;
	}
	&__mobile-button {
		background: transparent;
		border: 0;
		cursor: pointer;
		display: flex;
		align-items: center;
	}
}

.header {
	background-image: url('../images/earth.png'), linear-gradient(to left, #00000000, #0F1420C9), url('../images/headerBackground.jpg');
	background-size: auto, auto, cover;
  background-repeat: no-repeat, no-repeat, no-repeat;
	background-position: center right 90px, center, center;
	&__inner {
		padding: 5.625rem 0 7.5rem;
		max-width: 50vw;
	}
	&__title {
		@include fluid-text(72, 36);
		line-height: 1em;
		font-family: $primaryFontExtraBold;
		color: $textPrimaryColor;
		margin: 0;
		margin-bottom: 1.375rem;
		.text--colored {
			color: $primaryColor;
		}
	}
	&__description {
		@include fluid-text(32, 16);
		line-height: 1.2em;
		font-family: $primaryFontExtraBold;
		color: $textPrimaryColor;
		margin: 0;
		margin-bottom: 1.375rem;
		.text--colored {
			color: $secondaryColor;
		}
	}
}

.offers {
	padding: 3.75rem 0 1.25rem;
	&__title {
		color: $textPrimaryColor;
		font-family: $primaryFontExtraBold;
		@include fluid-text(32, 18);
		line-height: 1.2em;
		margin: 0;
		margin-bottom: 2.5rem;
	}
	&__list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__item {
		border-radius: 10px;
		padding: 35px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		background-size: auto, cover;
		background-repeat: no-repeat, no-repeat;
		background-position: center, center;
		margin-bottom: 40px;
		width: calc(50% - 90px);
		&.item--wide {
			width: 100%;
			h3 {
				@include fluid-text(74, 40);
				line-height: 1em;
				max-width: 65%;
			}
			p {
				@include fluid-text(26, 16);
				line-height: 1.2em;
			}

		}
		&-title {
			color: $textPrimaryColor;
			font-family: $primaryFontExtraBold;
			margin: 0;
			@include fluid-text(46, 40);
			line-height: 1em;
			margin-bottom: 1.375rem;
			max-width: 75%;
		}
		&-description {
			color: $textPrimaryColor;
			font-family: $primaryFontExtraBold;
			margin: 0;
			@include fluid-text(24, 16);
			line-height: 1.2em;
			margin-bottom: 1.375rem;
		}
	}
}

.enticement {
	padding-bottom: 3.75rem;
	&__title {
		color: $textPrimaryColor;
		font-family: $primaryFontExtraBold;
		margin: 0;
		@include fluid-text(32, 18);
		line-height: 1.2em;
		margin-bottom: 1rem;
	}
	&__description {
		color: rgba($textPrimaryColor, .6);
		font-family: $primaryFontExtraBold;
		margin: 0;
		@include fluid-text(20, 14);
		line-height: 1.2em;
		margin-bottom: 1rem;
	}
	&__link {
		color: $secondaryColor;
		font-family: $primaryFontExtraBold;
		@include fluid-text(20, 14);
		line-height: 1.2em;
		text-decoration: none;
	}
}

.footer {
	background-color: $backgroundPrimaryColor;
	padding-bottom: 1.25rem;
	display: flex;
	justify-content: center;
	align-items: center;
	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__logo {
		display: flex;
	}
	&__text {
		color: $secondaryColor;
		font-family: $primaryFontExtraBold;
		@include fluid-text(18, 16);
		line-height: 1.6em;
		text-align: center;
	}
}

@media(max-width: $mediumBreakpoint) {
	.container {
		padding-left: 1.875rem;
		padding-right: 1.875rem;
	}
	.nav {
		padding-top: 1.75rem;
		padding-bottom:  1.75rem;
		&__logo {
			.logo__image {
				width: 4.4rem;
				height: auto;
			}
		}
		&__menu-link {
			margin-right: 1.875rem;
		}

	}
	.header {
		background-position: top 26px right -85px, center, center;
		background-size: 42%, auto, cover;
		&__inner {
			padding: 6.25rem 0;
			max-width: 55vw;
		}
	}

	.offers {
		padding: 3.44rem 0 1.56rem;
		&__title {
			margin-bottom: 1.875rem;
		}
		&__item {
			border-radius: 10px;
			justify-content: flex-end;
			padding: 6.7rem 1.625rem 1.625rem;
			margin-bottom: 1.875rem;
			width: calc(50% - 4.2rem);
			&-title {
				max-width: 100%;
			}
		}
	}

	.enticement {
		padding-bottom: 3.44rem;
		&__title {
			margin-bottom: 0.8125rem;
		}
		&__description {
			margin-bottom: 1.25rem;
		}
	}
}

@media(max-width: $smallBreakpoint) {
	.button {
		padding: 0.4375rem 2.5rem;
	}
	.nav {
		padding: 0.75rem 1.25rem;
		&__menu {
			position: absolute;
			background-color: $backgroundPrimaryColor;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			flex-direction: column;
			align-items: center;
			padding-top: 2rem;
			&#navbar:target {
				transform: translateY(0);
			}
			&-list {
				flex-direction: column;
        align-items: center;
			}
			&-item {
				padding: 0.875rem 0;
			}
			&-link {
				margin-right: 0;
			}
			.shape-icon {
				margin-top: 0.875rem;
			}
		}
		&__mobile-menu {
			display: block;
		}
		&__close-link {
			display: block;
			position: absolute;
			top: 0.75rem;
			right: 1.25rem;
		}
	}
	.header {
		background-position: top -100px left 20px, center, center;
		background-size: 70vw, auto, cover;
		&__inner {
			max-width: 100%;
			width: 100%;
			text-align: center;
			padding: 15.625rem 0 2.75rem;
		}
	}
	.offers {
		&__item {
			width: 100%;
			padding: 2.68rem 1.625rem 2.5rem;
		}
	}
}
