$primaryFontRegular: 'Lato Regular', serif;
$primaryFontExtraBold: 'Lato ExtraBold', serif;

$white: #fff;
$black: #000;

$textPrimaryColor: #fff;
$backgroundPrimaryColor: #000;
$backgroundSecondaryColor: #304571;

$primaryColor: #FF70D9;
$secondaryColor: #EBFF00;

$smallBreakpoint: 380px;
$mediumBreakpoint: 768px;
$largeBreakpoint: 1248px;