@font-face {
  font-family: Lato Regular;
  font-display: auto;
  src: local('Lato Regular'), url('../fonts/Lato-Regular.ttf');
  font-style: normal;
}
@font-face {
  font-family: Lato ExtraBold;
  font-display: auto;
  src: local('Lato ExtraBold'), url('../fonts/Lato-ExtraBold.ttf');
  font-style: normal;
}